<a href="https://colab.research.google.com/github/sak-shi-collab/8_SAKSHI_D2/blob/main/CSV_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

opening a local csv file

In [ ]:
df =pd.read_csv('aug_train.csv')
df

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

opening a csv file from an URL

In [ ]:
# ! pip install requests
import requestsfrom io import StringIO
url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

SyntaxError: invalid decimal literal (ipython-input-240106335.py, line 3)

In [ ]:
sep pdarameter

In [ ]:
pd.read_csv('movie_titles_metadata.tsv',sep='\t',names=['sno','name','release_year','rating','votes','genres'])

index_col parameter

In [ ]:
pd.read_csv('aug_train.csv',index_col='enrollee_id')

header parameter

In [ ]:
pd.read_csv('test.csv',header=1)

use_cols parameter

In [ ]:
pd.read_csv('aug_train.csv',usecols=['enrollee_id','gender','education_level'])

squeeze parameter

In [ ]:
pd.read_csv('aug_train.csv',usecols=['gender'],squeeze=True)

skiprows/nrows parameter

In [ ]:
pd.read_csv('aug_train.csv',nrows=100)

encoding parameter

In [ ]:
pd.read_csv('aug_train.csv',nrows=100)

dtypes parameter

In [ ]:
pd.read_csv('aug_train.csv',dtype={'target':int}).info()

handiling dates

In [ ]:
d.read_csv('IPL Matches 2008-2020.csv',parse_dates=['date']).info()

In [ ]:
def rename(name):
    if name == "Royal Challengers Bangalore":
        return "RCB"
    else:
        return name

In [ ]:
rename("Royal Challengers Bangalore")

convertors

In [ ]:
pd.read_csv('IPL Matches 2008-2020.csv',converters={'team1':rename}

na_values parameter

In [ ]:
pd.read_csv('aug_train.csv',na_values=['Males',])

loading a huge dataset in chunks

In [ ]:
dfs =pd.rad_csv('aug_train.csv',chunkszize=500)

SyntaxError: invalid syntax (ipython-input-1918061166.py, line 2)

In [ ]:
fpr chunks in dfs;
  print(chunk.shape)

SyntaxError: invalid syntax (ipython-input-3990027732.py, line 1)